* {
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(170, 170, 170, 0.282);
}

nav {
    background-color: white;
    box-shadow: 3px 4px 5px rgba(0, 0, 0.1);
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    align-items: center;
    list-style: none;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    display: flex;
    align-items: center;
    color: black;
    padding: 0 30px;
    text-decoration: none; /* Ensure this is applied to links or elements where it is meaningful */
    cursor: pointer;
}

nav a:hover {
    background-color: #f0f0f0;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    background-color: rgba(74, 73, 73, 0.769);
    display: flex;
    position: fixed;
    top: 0%;
    right: 0%;
    height: 100vh;
    width: 250px;
    list-style: none;
    z-index: 999;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.sidebar a {
    width: 100%;
}

.sidebar li {
    width: 100%;
}


marquee {
    color: rgb(108, 32, 7);
    font-size: 25px;
}

.h1{
    color: blue;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
}

.contact1 {
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    background-color: orangered;
    
    align-content: center;
    padding: 10px 25px;
    border: none;
    
}
.contact1:hover {
background: green;
padding: 7px 20px;

}
.button_1:hover{
    background: green;
    cursor: pointer;
    border-radius: 5px;
}
.container {
    text-align: center;
    font-weight: 1000;
    font-style: italic;
    width: 100%;
    height: 600px;
    font-size: 20px;
    border: none;
    color: blue;
    border-radius: 2px;  

}

.welcom{
    color: blue;
    height: 50px;
    padding: 10px;
    
    font-size: 20px;
    margin-bottom: 25px;
}

h2 {
    margin-bottom: 10px;
}

#showcase h2{
    
    background-image: linear-gradient(to top, red 0%, blue 100%);
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
    
    font-size: 45px;
    margin-bottom: 25px;
}

#showcase {
    font-size: 20px;
}
.cont{
    
    margin: auto;
    color: white;
    overflow: hidden;
    background-image: linear-gradient(to top, red 0%, blue 100%);
    height: 75px;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    display: block;
    justify-content: space-between;
    
}  
#Send{
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    background-color: orangered;
    
    align-content: center;
    padding: 10px 25px;
    border: none;
    
}
  
.button_1{
    height: 30px;
    background-color: red;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-weight: bolder;
float: right;
margin-top: 25px;
border-radius: 2px;
}
#newsletter input{
    padding: 4px;
    height: 20px;
    width: 250px;
    border: none;
    text-align: center;
    color: rgb(122, 7, 46);
    border-bottom: 3px solid red;
    float: right;
    margin-top: 25px;
    
}
.h1b{
   text-align: center;
   float: left;
   margin: 5px;
}
section{
    
    color: black;
    padding: 15px;
}


input {
    padding: 7px 65px;
    margin-bottom: 10px;
    padding-right: 95px;
    margin-top: 10px;
    
}

textarea {
    padding: 40px 65px;
    align-items:normal;
    margin-top: 5px;
    
}
#Quote2 {
    color: #000;
    border: 5px solid yellow;
    border-radius: 100%;
    padding: 30px;
    align-items: center;
    text-align: center;
    background-color: rgb(229, 156, 78);
    font-size: 2rem;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 230px;
    height: 150px;
    border: 7px solid #d4d3d3;
    border-radius: 50%;

}
.social-media{
    padding: 10px;
margin: 5px;
display: flex;
justify-content:space-evenly;
}

h3{
    color: rgb(0, 0, 91);
    padding: 15px;
    margin: 5px;
    
    
    
}
.homeb{
    padding: 25px;
    margin: 10px;
    justify-content: space-around;
    align-items: normal;
    justify-items: flex-start;
    display: block;
}


footer {
    text-align: center;
    background: blue;
    color: #ffffff;
    padding: 10px;
    font-size: 14px;
}
#abot{
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    background-color: orangered;
    
    align-content: center;
    padding: 10px 25px;
    border: none;
}

@media (min-width:786px) {
    .container{
        width: 80%;
        padding: 40px;
    }
}
